.create {
    color: #333;
    max-width: 480px;
    margin: 25px auto;
    padding: 15px 25px;
}

.create.dark {
    color: #f5f5f5;
}

.create label span {
    display: block;
    margin: 15px 0 5px;
}

.create p {
    margin-top: 5px;
    font-size: 0.8em;
}

.create button {
    display: block;
    width: 200px;
    font-size: 1em;
    color: #f5f5f5;
    padding: 8px 20px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin: 20px auto;
}

.items {
    display: flex;
    align-items: center;
}

.items button {
    margin: 0 0 0 10px;
}